table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.btnContainter {
    display: flex;

}
.btnStyleIncrease {
    margin-right: 10px;
}

.btnStyleIncrease:hover {
   background-color: green;
}
.btnStyleDecrease {
    margin-right: 10px;
}

.btnStyleDecrease:hover {
    background-color: yellow;
}


.btnStyleDelete:hover {
    background-color: red;
}