body {
    margin: 40px;
}

.sidebar {
    grid-area: side;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header header header"
    "side content content content content content content"
    "side content content content content content content";
}

